<!-- views/list.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
<% include partials/head %>
</head>

<body onhashChange="changePageHash()">

<% include partials/header %>

<% for(var i=0; i<object.length; i++){ %>
<div id="content" class="basic">
  <div class="box">
    <div class="objecttitle">
      <!-- object title -->
      <h1><%= object[i].title %></h1>
    </div>       
  </div>     
  <div class="box">
    <div class="container">     
      <div class="row">
        <div class="col-sm-6">
          <!-- src should be path to object's photo -->
          <img class="img-responsive" src="img/ThePoet.jpg" alt="ObjectPhoto"> 
        </div>
        <div class="col-sm-6" style="font-size: 1.5em">

          <div class="insetbox">
            <!-- all dynamically inserted -->
            <div class="objectinfo">
              <div class="title"><%= object[i].title %></div>
              <% if(object[i].makers!=null) {%>
              <div class="maker"><%= object[i].makers %></div>
              <% } %>
              <% if(object[i].culture!=null) {%>
              <div class="culture"><%= object[i].culture %></div>
              <% } %>
              <% if(object[i].materials!=null) {%>
              <div class="materials"><%= object[i].materials %></div>
              <% } %>
              <% if(object[i].location!=null) {%>
              <div class="place"><%= object[i].location %></div>
              <% } %>
              <% if(object[i].measurements!=null) {%>
              <div class="measurments"><%= object[i].measurements %></div>
              <% } %>
              <% if(object[i].credit_line!=null) {%>
              <div class="creditline"><%= object[i].credit_line %></div>
              <% } %>
            </div>
            <!-- Should only be included if there is indeed extra text for the object-->
            <a href="" onclick="return onClickExpand();"><img src="img/icons/text.svg" alt="Expand" style="margin: 20px; width: 10%"></a>
            <div class="extratext" style='display: none'>
              <div class="textblock">
                <% if(object[i].decs!=null) {%>
                <%= object[i].desc %>
                <% } %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="objectsound"><a href="" onclick="return onClickAudio();"><img class="clickableicon" alt="Play Sound" src="img/icons/musical-note.svg" alt="MusicNote"></a></div>
              </div>
              <div class="col-sm-4">
                <div class="objectvideo"><a href="" onclick="return onClickVideo();"><img class="clickableicon" alt="Play Video" src="img/icons/play-circle.svg"></a></div>
              </div>
              <div class="col-sm-4">
                <div class="objectlocation"><a href="" onclick="return onClickMap();"><img class="clickableicon" src="img/icons/map-marker.svg"></a></div>
              </div>
            </div>
            <div class="audio" style="display: none">
              <div class="embed-responsive embed-responsive-16by9">
                <audio controls>
                  <!-- src should be path to object's sound file-->
                  <source src="sound/TheCave.mp3" type="audio/mpeg">
                    Your browser does not support this audio element.
                  </audio>
                </div>
              </div>
              <div class="video" style='display: none'>
                <div class="embed-responsive embed-responsive-16by9">
                  <!-- src should be link to object's video-->
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HbCBxlxsXdY?rel=0"></iframe>
                </div>
              </div>
              <div class="map" style="display: none">
                <!-- src should be path to map of object's location -->
                <img class="img-responsive" alt="Map of Mead Museum" src="img/meadgooglemap.jpg">
              </div>

            </div>
          </div>
        </div>
<% } %>

      </div>
    </div>

    <% include partials/footer %>

